body {
    margin: 0;
} 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.name {
   font-size: 45px;
   font-weight: bold;
   font-style: italic;
   color: orange;
   text-transform: uppercase;
}
.procat {
    padding: 20px;
    background: linear-gradient(to left, orange,red);
    margin-bottom: 12px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.procat-name {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}
#carouselExampleCaptions {
    height: 500px;
}
.carousel-inner img {
    height: 500px;
    margin: 0 auto;
}
.dropdown {
    position: relative;
    width: 300px;
}
.dropdown-list {
    background-color: white;
    border-radius: 8%;
    padding: 10px 20px 25px 20px;
    display: none;
    position: absolute;
}
.list-day {
    color: white;
    margin-left: 5px;
}
.list-day:hover {
  cursor: pointer;
}
.list-item1:hover, .list-item2:hover {
    cursor: pointer;
    color: tomato;
}
.log-in:hover {
    cursor: pointer;
}

