body {
    margin: 0;
} 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.name {
   font-size: 45px;
   font-weight: bold;
   font-style: italic;
   color: orange;
   text-transform: uppercase;
}
.procat {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px;
    background: linear-gradient(to left, orange,red);
    color: white;
    margin-bottom: 12px;
}
#carouselExampleCaptions {
    height: 500px;
}
.carousel-inner img {
    height: 500px;
    margin: 0 auto;
  }
.container {
    margin-top: 17px;
}
.btn-warning {
    margin-top: 10px;
}
.ganr {
    color: grey;
    font-size: 15px;
}